<div ng-controller="homeController">

<div class="app" id="app">

    <!-- ############ LAYOUT START-->
      <div class="center-block w-xxl2 w-auto-xs p-y-md">
        <div class="navbar">
          <div class="pull-center">
    
            <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
            
          </div>
        </div>
        <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
            <h3>Smart Energy Monitoring App </h3>
            <br>
            
            <div class="clearfix m-b nav-active-dark">
                <ul class="nav nav-pills" ui-nav>
                  
                  <li class="nav-item active">
                  <a class="nav-link" href="#/">Home</a>
                  </li>
                  
                  <li class="nav-item">
                  <a class="nav-link"  href="#/devices">Devices</a>
                  </li>

                  <li class="nav-item">
                  <a class="nav-link"  href="#/bills">Bills</a>
                  </li>

                  <li class="nav-item">
                  <a class="nav-link"  href="#/profile">{{logindata.name}}'s Profile</a>
                  </li>
                  
                  
                  <li class="nav-item" ng-controller="logoutController">
                  <a class="nav-link" ng-click='logout()' >Logout</a>
                  </li>
                  

                </ul>
              </div>

              <br>
              <center>
                <button class="btn btn-fw primary" ng-click="viewRealtimeBill()">View Realtime Bill</button>
              </center>
              <br>

              <div class="box" ng-show="dataFound" style="background-color: white">

                  <div class="table-responsive">
                  <table class="table table-striped b-t" style="text-align: center">
                    <thead>
                      <tr>
                          <th rowspan="2" style="text-align: center">Device Name</th>
                          <th colspan="2" style="text-align: center">Energy Consumption</th>
                      </tr>
                      <tr>
                        <th style="text-align: center">Previous Sessions</th>
                        <th style="text-align: center">Current Session</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <tr ng-repeat="device in devicelist">
                        
                        <td ng-bind="device.name"></td>
                        <td ng-bind="device.energyc"></td>
                        <td ng-bind="device.rtenergyc"></td>
                                                
                      </tr>
                      
                      <tr>
                        <td>SubTotal(s) :</td>
                        <td ng-bind="totalenergyc_cs"></td>
                        <td ng-bind="totalenergyc_os"></td>
                      </tr>

                      <tr>
                        <td>Total :</td>
                        <td ng-bind="totalenergyc" colspan="2" style="text-align: center"></td>
                      </tr>

                    </tbody>
                  </table>

                </div>
                
                </div>

                <div ng-show="!dataFound">
                    <p ng-bind="errormsg"></p><br>
                </div>


        </div>
   
        
      </div>
    
    <!-- ############ LAYOUT END-->
    
    </div>
    
  </div>
  