<div ng-controller="homeController">

<div class="app" id="app">

    <!-- ############ LAYOUT START-->
      <div class="center-block w-xxl2 w-auto-xs p-y-md">
        <div class="navbar">
          <div class="pull-center">
    
            <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
            
          </div>
        </div>
        <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
            <h3>Smart Energy Monitoring App </h3>
            <br>
            
            <div class="clearfix m-b nav-active-dark">
                <ul class="nav nav-pills" ui-nav>
                  
                  <li class="nav-item active">
                  <a class="nav-link" href="#/">
                    <i class="material-icons md-24">&#xe88a;</i>
                  </a>
                  </li>
                  
                  <li class="nav-item">
                  <a class="nav-link"  href="#/devices">Devices</a>
                  </li>

                  <li class="nav-item">
                  <a class="nav-link"  href="#/bills">Bills</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"  href="#/profile">
                      <i class="material-icons md-24">&#xe7fd;</i>
                    </a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link"  href="#/settings">
                      <i class="material-icons md-24">&#xe8b8;</i>
                    </a>
                  </li>

                  <li class="nav-item" ng-controller="notificationsController">
                      <a class="nav-link"  href="#/notifications">
                        <i class="material-icons md-24">&#xe7f4;</i>
                        <b class="label rounded danger up" ng-bind="notifications.length"></b>
                      </a>
                  </li>
                  
                  
                  <li class="nav-item" ng-controller="logoutController">
                  <a class="nav-link" ng-click='logout()' >
                    <i class="material-icons md-24">&#xe8ac;</i>
                  </a>
                  </li>
                  

                </ul>
              </div>

              
              <!--
              <center>
                <button class="btn btn-fw primary" ng-click="viewRealtimeBill()">View Realtime Bill</button>
              </center>
              -->
              

              <div ng-show="dataFound"> 

                <div class="row">
                  <div class="box-color p-a info">
                    
                    <div class="clear">
                        <h4 class="m-a-0 text-md" >Billing Period :</h4>
                        <h4 class="m-a-0 text-md" ng-bind="billstartdate+' to '+billenddate"></h4>
                      <span class="text-sm"></span>
                      
                      <small class="text-muted"></small>
                    </div>
                  </div>
              </div>

                <div class="row">
                  <div class="box-color p-a primary">
                    <div class="pull-right m-l">
                      <span class="w-40 dker text-center rounded">
                        <i class="material-icons">&#xe1af;</i>
                      </span>
                    </div>
                    <div class="clear">
                        <h4 class="m-a-0 text-md">Total Energy Consumption (till now)</h4>
                      <h4 class="m-a-0 text-md"><p ng-bind="(totalenergyc/1000)+' Units or kWh'"></p> 
                      
                        <!--
                      <div ng-show="energyc_quota_exceeded>-1">

                      <h4><span class="text-md" ng-show="energyc_quota_exceeded==1">
                        Quota Exceeded By {{(totalenergyc-energyc_quota)/1000}} Units or kWh
                      </span></h4>

                      <h4><span class="text-md" ng-show="energyc_quota_exceeded==0">
                          {{(totalenergyc/energyc_quota)*100}} % of Quota
                      </span></h4>

                      </div>
                      -->
                      
                      <small class="text-muted"></small>
                    </div>
                  </div>
              </div>

              <div class="row" ng-show="energyc_quota_exceeded==1">
                  <div class="box-color p-a danger">
                    
                    <div class="clear">
                        <h4 class="m-a-0 text-md" >Energy Consumption Quota Exceeded By:</h4>
                        <h4 class="m-a-0 text-md" ng-bind="energyc_quota_exceeded_msg"></h4>
                      <span class="text-sm"></span>
                      
                      <small class="text-muted"></small>
                    </div>
                  </div>
              </div>

              <div class="row" ng-show="energyc_quota_exceeded==0">
                  <div class="box-color p-a warn">
                    
                    <div class="clear">
                        <h4 class="m-a-0 text-md" ng-bind="energyc_quota_notexceeded_msg"></h4>
                        <h4 class="m-a-0 text-md" >of Energy Quota Consumed</h4>
                      <span class="text-sm"></span>
                      
                      <small class="text-muted"></small>
                    </div>
                  </div>
              </div>


              </div>

              <div class="box" ng-show="dataFound" style="background-color: whitesmoke">

                  <div class="table-responsive">
                  <table class="table table-striped b-t" style="text-align: center">
                    <thead>
                      <tr>
                          <th rowspan="2" style="text-align: center">Device Name</th>
                          <th colspan="2" style="text-align: center">Energy Consumption (in Wh)</th>
                      </tr>
                      <tr>
                        <th style="text-align: center">Previous Sessions</th>
                        <th style="text-align: center">Current Session</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <tr ng-repeat="device in devicelist">
                        
                        <td ng-bind="device.name"></td>
                        <td ng-bind="device.energyc"></td>
                        <td ng-bind="device.rtenergyc"></td>
                                                
                      </tr>
                      
                      <tr>
                        <td>SubTotal(s) (in Wh):</td>
                        <td ng-bind="totalenergyc_cs"></td>
                        <td ng-bind="totalenergyc_os"></td>
                      </tr>

                      <tr>
                        <td>Total (in Wh) :</td>
                        <td ng-bind="totalenergyc" colspan="2" style="text-align: center"></td>
                      </tr>

                    </tbody>
                  </table>

                </div>
                
                </div>

                <div ng-show="!dataFound">
                    <p ng-bind="errormsg"></p><br>
                </div>


        </div>
   
        
      </div>
    
    <!-- ############ LAYOUT END-->
    
    </div>
    
  </div>
  