<div class="app" id="app">

<!-- ############ LAYOUT START-->
  <div class="center-block w-xxl w-auto-xs p-y-md">
      
    <div class="navbar">
      <div class="pull-center">

        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      
      </div>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
        <h3>Smart Energy Monitoring App </h3>
        <br>
        
      <form name="form" ng-submit="login()">
        <div class="md-form-group float-label">
          <input type="email" class="md-input" ng-model="loginForm.email" required>
          <label>Email</label>
        </div>
        <div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="loginForm.password" required>
          <label>Password</label>
        </div>      
        
        <button type="submit" class="btn primary btn-block p-x-md" ng-disabled="disabled">Login</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      
      <div>Do not have an account? <a ui-sref="access.signup" href="#/register" class="text-primary _600">Register</a></div>
    </div>
  </div>

<!-- ############ LAYOUT END-->

</div>
