<div ng-controller="sessionsController">

    <div class="app" id="app">
    
        <!-- ############ LAYOUT START-->
          <div class="center-block w-xxl2 w-auto-xs p-y-md">
            <div class="navbar">
              <div class="pull-center">
        
                <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
                
              </div>
            </div>
            <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
                <h3>Smart Energy Monitoring App </h3>
                <br>
                
                <div class="clearfix m-b nav-active-dark">
                    <ul class="nav nav-pills" ui-nav>
                      
                      <li class="nav-item">
                      <a class="nav-link" href="#/">Home</a>
                      </li>
                      
                      <li class="nav-item">
                      <a class="nav-link"  href="#/devices">Devices</a>
                      </li>
    
                      <li class="nav-item">
                      <a class="nav-link"  href="#/profile">{{logindata.name}}'s Profile</a>
                      </li>
                      
                      
                      <li class="nav-item" ng-controller="logoutController">
                      <a class="nav-link" ng-click='logout()' >Logout</a>
                      </li>
                      
    
                    </ul>
                  </div>
    
                  <br>

                  
                  <div class="box" ng-if="sessionlistfound" style="background-color: white">
                    <!--
                    <div class="box-header">
                      <span class="label danger pull-right">{{devicelist.length}}</span>
                      <h3>Devices</h3>
                    </div>
                    -->

                    <div class="table-responsive">
                    <table class="table table-striped b-t">
                      <thead>
                        <tr>
                          <th>Session Id</th>
                          <th>Start Time</th>
                          <th>End Time</th>
                          <th>Energy Consumed (Wh)</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr ng-repeat="session in sessionlist">
                          <td ng-bind="session.id"></td>
                          <td ng-bind="session.start_time"></td>
                          <td ng-bind="session.end_time"></td>
                          <td ng-bind="session.energy_consumed"></td>
                          
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                  
                  </div>


                  <br>
                  <div ng-if="!sessionlistfound">
                    <p ng-bind="errorMessage"></p><br>
                  </div>


                    
            </div>
       
            
          </div>
        
        <!-- ############ LAYOUT END-->
        
        </div>
        
      </div>
      