<div ng-controller="sessionsController">

    <div class="app" id="app">
    
        <!-- ############ LAYOUT START-->
          <div class="center-block w-xxl2 w-auto-xs p-y-md">
            <div class="navbar">
              <div class="pull-center">
        
                <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
                
              </div>
            </div>
            <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
                <h3>Smart Energy Monitoring App </h3>
                <br>
                
                <div class="clearfix m-b nav-active-dark">
                    <ul class="nav nav-pills" ui-nav>
                      
                      <li class="nav-item">
                          <a class="nav-link" href="#/">
                            <i class="material-icons md-24">&#xe88a;</i>
                          </a>
                      </li>
                      
                      <li class="nav-item">
                      <a class="nav-link"  href="#/devices">Devices</a>
                      </li>
    
                      <li class="nav-item">
                        <a class="nav-link"  href="#/bills">Bills</a>
                        </li>
      
                        <li class="nav-item">
                          <a class="nav-link"  href="#/profile">
                            <i class="material-icons md-24">&#xe7fd;</i>
                          </a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link"  href="#/settings">
                            <i class="material-icons md-24">&#xe8b8;</i>
                          </a>
                        </li>
                      
                      
                        <li class="nav-item" ng-controller="notificationsController">
                            <a class="nav-link"  href="#/notifications">
                              <i class="material-icons md-24">&#xe7f4;</i>
                              <b class="label rounded danger up" ng-bind="notifications.length"></b>
                            </a>
                        </li>
                        
                        
                        <li class="nav-item" ng-controller="logoutController">
                        <a class="nav-link" ng-click='logout()' >
                          <i class="material-icons md-24">&#xe8ac;</i>
                        </a>
                        </li>
    
                    </ul>
                  </div>
    
                  <br>

                  
                  <div class="box" ng-if="sessionlistfound" style="background-color: whitesmoke">
                    <!--
                    <div class="box-header">
                      <span class="label danger pull-right">{{devicelist.length}}</span>
                      <h3>Devices</h3>
                    </div>
                    -->

                    <div class="table-responsive">
                    <table class="table table-striped b-t">
                      <thead>
                        <tr>
                          <th>Session Id</th>
                          <th>Start Time</th>
                          <th>End Time</th>
                          <th>Energy Consumed (Wh)</th>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr ng-repeat="session in sessionlist">
                          <td ng-bind="session.id"></td>
                          <td ng-bind="session.start_time"></td>
                          <td ng-bind="session.end_time"></td>
                          <td ng-bind="session.energy_consumed"></td>
                          
                          <!--<td ng-click="deleteSessionById(session.id)">-->
                          <td ng-click="selectsession(session.id)">
                          <i class="material-icons md-24" data-toggle="modal" data-target="#m-sm">&#xe872;</i>
                          </td>

                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
          
                  </div>
                  
                  <div ng-if="sessionlistfound">
                  <center>
                    <button class="btn btn-fw danger" data-toggle="modal" data-target="#m-sm2">Delete All Sessions</button>
                  </center>
                  </div>

                  <br>
                  <div ng-if="!sessionlistfound">
                    <p ng-bind="errorMessage"></p><br>
                  </div>

                  <div ng-show="deletedallsessions==2 || deletedsession==2">
                    <div class="row text-center">
                        
                                <div class="box-color danger pos-rlt">
                                  <span class="arrow top b-danger"></span>
                                  <div class="box-body">
                                    <p ng-bind="errormsg"></p>
                                  </div>
                                </div>
                        
                    </div>
                  </div>

                  
                  <!--modal start-->
                  <div id="m-sm" class="modal" data-backdrop="true">
                    <div class="row-col h-v">
                      <div class="row-cell v-m">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Delete Session</h5>
                            </div>
                            <div class="modal-body text-center p-lg">
                              <p>Are you sure want to delete this session?</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                              <button type="button" class="btn danger p-x-md" data-dismiss="modal" ng-click="deleteSessionById(sessionselected)">Yes</button>
                            </div>
                          </div><!-- /.modal-content -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--modal end-->

                  <!--modal start-->
                  <div id="m-sm2" class="modal" data-backdrop="true">
                      <div class="row-col h-v">
                        <div class="row-cell v-m">
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Delete All Sessions</h5>
                              </div>
                              <div class="modal-body text-center p-lg">
                                <p>Are you sure want to delete all sessions?</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                                <button type="button" class="btn danger p-x-md" data-dismiss="modal" ng-click="deleteAllSessions()">Yes</button>
                              </div>
                            </div><!-- /.modal-content -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--modal end-->
                    
            </div>
       
            
          </div>
        
        <!-- ############ LAYOUT END-->
        
        </div>
        
      </div>
      