<div ng-controller="settingsController">

    <div class="app" id="app">
    
        <!-- ############ LAYOUT START-->
          <div class="center-block w-xxl2 w-auto-xs p-y-md">
            <div class="navbar">
              <div class="pull-center">
        
                <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
                
              </div>
            </div>
            <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
                <h3>Smart Energy Monitoring App </h3>
                <br>
                
                <div class="clearfix m-b nav-active-dark">
                    <ul class="nav nav-pills" ui-nav>
                      
                      <li class="nav-item">
                          <a class="nav-link" href="#/">
                            <i class="material-icons md-24">&#xe88a;</i>
                          </a>
                      </li>
                      
                      <li class="nav-item">
                      <a class="nav-link"  href="#/devices">Devices</a>
                      </li>
    
                      <li class="nav-item">
                        <a class="nav-link"  href="#/bills">Bills</a>
                        </li>
      
                        <li class="nav-item">
                          <a class="nav-link"  href="#/profile">
                            <i class="material-icons md-24">&#xe7fd;</i>
                          </a>
                        </li>
                        
                        <li class="nav-item active">
                          <a class="nav-link"  href="#/settings">
                            <i class="material-icons md-24">&#xe8b8;</i>
                          </a>
                        </li>
                      
                      
                        <li class="nav-item" ng-controller="notificationsController">
                            <a class="nav-link"  href="#/notifications">
                              <i class="material-icons md-24">&#xe7f4;</i>
                              <b class="label rounded danger up" ng-bind="notifications.length"></b>
                            </a>
                        </li>
                        
                        
                        <li class="nav-item" ng-controller="logoutController">
                        <a class="nav-link" ng-click='logout()' >
                          <i class="material-icons md-24">&#xe8ac;</i>
                        </a>
                        </li>
                      
    
                    </ul>
                  </div>

                  <br>

                <form class="p-x-xs" ng-if="settingsFound">
                <div class="form-group row">
                    <div class="form-group row" ng-repeat="setting in settings">
                        <label class="col-lg-4 form-control-label" ng-bind="SettingNametoLabel(setting.setting)"></label>
                        <div class="col-lg-4">
                        <input class="form-control" type="text" ng-model="setting.value">
                        </div>
                        <div class="col-lg-2">
                          <button class="btn btn-fw primary" >Update</button>
                        </div>
                </div>
                    
                    
                </div>
                </form>
    
                
    <!-- 
              <form name="form">
                <button type="button" class="btn primary btn-block p-x-md" ng-disabled="disabled">Devices</button>
                
                <br>
    
                <div ng-controller="logoutController">
                    <button type="button" class="btn primary btn-block p-x-md" ng-click='logout()'>Logout</button>
                </div>
              </form>
    -->
    
            </div>
       
            
          </div>
        
        <!-- ############ LAYOUT END-->
        
        </div>
        
</div>
      