<div ng-controller="devicesController">

    <div class="app" id="app">
    
        <!-- ############ LAYOUT START-->
          <div class="center-block w-xxl2 w-auto-xs p-y-md">
            <div class="navbar">
              <div class="pull-center">
        
                <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
                
              </div>
            </div>
            <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
                <h3>Smart Energy Monitoring App </h3>
                <br>
                
                <div class="clearfix m-b nav-active-dark">
                    <ul class="nav nav-pills" ui-nav>
                      
                      <li class="nav-item">
                          <a class="nav-link" href="#/">
                            <i class="material-icons md-24">&#xe88a;</i>
                          </a>
                      </li>
                      
                      <li class="nav-item  active">
                      <a class="nav-link"  href="#/devices">Devices</a>
                      </li>
    
                      <li class="nav-item">
                        <a class="nav-link"  href="#/bills">Bills</a>
                        </li>
      
                        <li class="nav-item">
                          <a class="nav-link"  href="#/profile">
                            <i class="material-icons md-24">&#xe7fd;</i>
                          </a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link"  href="#/settings">
                            <i class="material-icons md-24">&#xe8b8;</i>
                          </a>
                        </li>
                      
                      
                        <li class="nav-item" ng-controller="notificationsController">
                            <a class="nav-link"  href="#/notifications">
                              <i class="material-icons md-24">&#xe7f4;</i>
                              <b class="label rounded danger up" ng-bind="notifications.length"></b>
                            </a>
                        </li>
                        
                        
                        <li class="nav-item" ng-controller="logoutController">
                        <a class="nav-link" ng-click='logout()' >
                          <i class="material-icons md-24">&#xe8ac;</i>
                        </a>
                        </li>
                      
    
                    </ul>
                  </div>
    
                  <br>

                  
                  <div class="box" ng-if="devicelistfound" style="background-color: whitesmoke">
                    <!--
                    <div class="box-header">
                      <span class="label danger pull-right">{{devicelist.length}}</span>
                      <h3>Devices</h3>
                    </div>
                    -->

                    <table class="table">
                      <thead>
                        <tr>
                          <th>Device Name</th>
                          <th>State</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr ng-repeat="device in devicelist">
                          <td>
                            <a ng-href="#/device/{{device.id}}/realtimedata">
                            <p ng-bind="device.name"></p>
                            </a>
                          </td>
                          <td>
                                <label class="ui-switch m-t-xs m-r">
                                    <input type="checkbox" ng-checked="device.state" ng-model="device.state" ng-change="updateDeviceState(device.id,device.state)">
                                    <i></i>
                                </label>
                          </td>
                          
                          <td>
                              <a ng-href="#/device/{{device.id}}/sessions">
                              <i class="material-icons md-24">&#xe889;</i>
                              </a>
                          </td>

                          <td>
                            <a ng-href="#/device/{{device.id}}/info">
                            <i class="material-icons md-24">&#xe88e;</i>
                            </a>
                          </td>

                          <td ng-click="selectdevice(device.id)">
                            <i class="material-icons md-24" data-toggle="modal" data-target="#m-sm">&#xe872;</i>
                          </td>
                          
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>


                  <br>
                  <div ng-if="!devicelistfound">
                    <p ng-bind="errorMessage"></p><br>
                  </div>

                <center>
                <div class="clearfix m-b nav-active-dark">
                    <ul class="nav nav-pills" ui-nav>
                        <li class="nav-item active">
                            <a class="nav-link" href="#/add_device">Add New Device</a>
                        </li>
                    </ul>
                </div>
              </center>


                <!--modal start-->
                <div id="m-sm" class="modal" data-backdrop="true">
                    <div class="row-col h-v">
                      <div class="row-cell v-m">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Delete Device</h5>
                            </div>
                            <div class="modal-body text-center p-lg">
                              <p>Are you sure want to delete this device?</p>
                              <p><i>Note: If you proceed to do so, 
                                then all the data associated with the device will also be deleted</i></p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
                              <button type="button" class="btn danger p-x-md" data-dismiss="modal" ng-click="deleteDevice(deviceselected)">Yes</button>
                            </div>
                          </div><!-- /.modal-content -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--modal end-->


    
    
            </div>
       
            
          </div>
        
        <!-- ############ LAYOUT END-->
        
        </div>
        
      </div>
      